<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/estudiantes"></ion-back-button>
    </ion-buttons>
    <ion-title>Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngIf="estudiante">
    <ion-card-header>
      <ion-card-title>{{ estudiante.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ estudiante.c_clinica_id }}</h2> <br>
      <h2>{{ estudiante.c_profesional_id }}</h2> <br>
      <h2>{{ estudiante.telefono }}</h2> <br>
      <h2>{{ estudiante.correo }}</h2> <br>
      <h2>{{ estudiante.localidad }}</h2> <br>
    </ion-card-content>
  </ion-card>


</ion-content>

